template.yaml
AWSTemplateFormatVersion: "2010-09-09"
Transform: "AWS::Serverless-2016-10-31"
Resources:
  BookTable:
    Type: "AWS::DynamoDB::Table"
    Properties:
      AttributeDefinitions:
        - AttributeName: bookid
          AttributeType: S
      KeySchema:
        - AttributeName: bookid
          KeyType: HASH
      BillingMode: PAY_PER_REQUEST

  UserTable:
    Type: "AWS::DynamoDB::Table"
    Properties:
      AttributeDefinitions:
        - AttributeName: userid
          AttributeType: S
      KeySchema:
        - AttributeName: userid
          KeyType: HASH
      BillingMode: PAY_PER_REQUEST

  CheckInventoryFunction:
    Type: "AWS::Serverless::Function"
    Properties:
      Handler: index.checkInventory
      Runtime: nodejs12.x
      CodeUri: src/handlers
      Policies:
        - DynamoDBReadPolicy:
            TableName: !Ref BookTable

  DeductPointsFunction:
    Type: "AWS::Serverless::Function"
    Properties:
      Handler: index.deductPoints
      Runtime: nodejs12.x
      CodeUri: src/handlers
      Policies:
        - DynamoDBCrudPolicy:
            TableName: !Ref UserTable

  UpdateBookQuantityFunction:
    Type: "AWS::Serverless::Function"
    Properties:
      Handler: index.updateBookQuantity
      Runtime: nodejs12.x
      CodeUri: src/handlers
      Policies:
        - DynamoDBCrudPolicy:
            TableName: !Ref BookTable

  RedeemPointsFunction:
    Type: "AWS::Serverless::Function"
    Properties:
      Handler: index.redeemPoints
      Runtime: nodejs12.x
      CodeUri: src/handlers
      Policies:
        - DynamoDBReadPolicy:
            TableName: !Ref UserTable

  RestoreRedeemPointsFunction:
    Type: "AWS::Serverless::Function"
    Properties:
      Handler: index.restoreRedeemPoints
      Runtime: nodejs12.x
      CodeUri: src/handlers
      Policies:
        - DynamoDBCrudPolicy:
            TableName: !Ref UserTable

  RestoreQuantityFunction:
    Type: "AWS::Serverless::Function"
    Properties:
      Handler: index.restoreQuantity
      Runtime: nodejs12.x
      CodeUri: src/handlers
      Policies:
        - DynamoDBCrudPolicy:
            TableName: !Ref BookTable

  SQSWorkerFunction:
    Type: "AWS::Serverless::Function"
    Properties:
      Handler: index.sqsWorker
      Runtime: nodejs12.x
      CodeUri: src/handlers
      Events:
        SQSEvent:
          Type: SQS
          Properties:
            Queue: !GetAtt OrdersQueue.Arn
            BatchSize: 1

  OrdersQueue:
    Type: "AWS::SQS::Queue"

  NotifyCourierTopic:
    Type: "AWS::SNS::Topic"

  StoreCheckoutFlowStateMachine:
    Type: "AWS::StepFunctions::StateMachine"
    Properties:
      Definition:
        StartAt: checkInventory
        States:
          checkInventory:
            Type: Task
            Resource: !GetAtt CheckInventoryFunction.Arn
            Catch:
              - ErrorEquals: [BookNotFound]
                Next: BookNotFoundError
              - ErrorEquals: [BookOutOfStock]
                Next: BookOutOfStockError
            ResultPath: "$.book"
            Next: calculateTotal
          calculateTotal:
            Type: Task
            Resource: !GetAtt CalculateTotalFunction.Arn
            ResultPath: "$.total"
            Next: isRedeemNeeded
          isRedeemNeeded:
            Type: Choice
            Choices:
              - Variable: $.redeem
                BooleanEquals: true
                Next: RedeemPoints
            Default: BillCustomer
          RedeemPoints:
            Type: Task
            Resource: !GetAtt RedeemPointsFunction.Arn
            ResultPath: "$.total"
            Catch:
              - ErrorEquals: [States.ALL]
                Next: RedeemPointsError
            Next: BillCustomer
          BillCustomer:
            Type: Task
            Resource: !GetAtt BillCustomerFunction.Arn
            ResultPath: "$.billingStatus"
            Retry:
              - ErrorEquals: [States.ALL]
                MaxAttempts: 0
            Catch:
              - ErrorEquals: [States.ALL]
                ResultPath: "$.customerBilling"
                Next: BillingError
            Next: PrepareOrder
          PrepareOrder:
            Type: Task
            Resource: arn:aws:states:::sqs:sendMessage.waitForTaskToken
            Parameters:
              QueueUrl: https://sqs.us-east-1.amazonaws.com/<accountId>/OrdersQueue
              MessageBody:
                Input.$: "$"
                Token.$: "$$.Task.Token"
            ResultPath: "$.courierStatus"
            Catch:
              - ErrorEquals: [NoCourierAvailable]
                ResultPath: "$.courierError"
                Next: RefundCustomer
            Next: DispatchOrder
          DispatchOrder:
            Type: Task
            Resource: arn:aws:states:::sns:publish
            Parameters:
              TopicArn: arn:aws:sns:us-east-1:<accountId>:NotifyCourier
              Message.$: "$"
            Next: Dispatched
          Dispatched:
            Type: Pass
            Result: "Your order will be dispatched in 24 hours"
            End: true
          RestoreRedeemPoints:
            Type: Task
            Resource: !GetAtt RestoreRedeemPointsFunction.Arn
            End: true
          RestoreQuantity:
            Type: Task
            Resource: !GetAtt RestoreQuantityFunction.Arn
            ResultPath: "$.quantityRestoreStatus"
            Next: RestoreRedeemPoints
          RefundCustomer:
            Type: Pass
            Result: "Customer is refunded"
            ResultPath: "$.refundStatus"
            Next: RestoreQuantity
          BookNotFoundError:
            Type: Pass
            Result: "No such book available"
            End: true
          BookOutOfStockError:
            Type: Pass
            Result: "Sorry, the books is out of stock"
            End: true
          RedeemPointsError:
            Type: Pass
            Result: "Error in redeeming points"
            End: true
          BillingError:
            Type: Pass
            Result: "Billing error"
            ResultPath: "$.billingStatus"
            Next: RestoreRedeemPoints
